html,
body,
header,
h1,
h2,
h3,
h4,
h5,
h6,
header,
nav,
ul,
li,
ol,
a,
p,
div {
	padding:0;
	margin:0;
}
html {
	font-family: Myriad Pro Regular, sans-serif;
}
body {
	background-color: #00A9E7;
	width: 100%;
}

.title {
	color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	background-image: url("/resources/main/images/qr-icon.png");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	padding: 90px 23px 2px 47px;
	margin-bottom: 50px;
}

.logout-link {
	list-style-type: none;
	color: #FFFFFF;
	padding: 50px 45px 0 0;
	float: right;

}

.navigation li {
	list-style-type: none;
	display: inline-block;
	padding: 0 30px 20px 0;
	font-family: arial,sans serif;
	font-weight:bold;
	font-size:12pt;
	margin-top: 50px;
}
.navigation a {
	text-decoration: none;
	color: #FFFFFF;
	padding:10px;

}
.navigation a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #57C6EF;
	border-radius: 5px;
}
.white-background {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
}
.submenu-navigation li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 30px 0 0;
	margin-bottom: 30px;
}

.submenu-navigation a {
	text-decoration: none;
	padding: 10px;
	color: #1C1C1C;
}

.submenu-navigation a:hover {
	text-decoration: none;
	background-color: #2D5982;
	border-radius: 3px;
	color: #FFFFFF;
}

.input-filed {
	margin: 20px 0 0 20px;
}

.input-filed input {
	width: 40%;
	height: 20px;
	margin: 20px;
}

.address-field .address {
	margin: 20px 0 -10px 20px;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.address-field {
	margin: 20px 0 0 20px;
}

.address-field input{
	width: 40%;
	height: 20px;
	margin: 20px;

}
.address-field .sis-street-input {
	width: 450px;
}

.address-field .sis-city-input {
	width: 301px;

}
.contacts-field {
	margin: 20px 0 0 20px;
}

.contacts-field input {
	width: 40%;
	height: 20px;
	margin: 20px;
}
.bold {
	 font-weight: bold;
}

.qr-background {
	background-color: #FFFFFF;
	height: 340px;
	border-radius: 5px;

}
.qr-image {
	display: block;
	margin: 0 auto;
	padding-top: 60px;
}

.image-extension {
	text-align: center;
	margin-top: 20px;
}
.image-extension-line {
	padding-right: 5px;
	border-right: 1px solid #aaaaaa;
}
.image-extension li {
	display: inline-block;
}
.image-extension li >a {
	color: #aaaaaa;
	font-weight: bold;
	font-size: 12pt;
}
.image-extension li >a:hover {
	color: #3ecef6;
	text-decoration: none;
	font-weight: bold;
}


  /*Margins*/

.mrg-bottom5 {
	margin-bottom: 5px;
}

.mrg-bottom30 {
	margin-bottom: 30px;
}

.mrg-top25 {
	margin-top: 25px;
}
.mrg-bottom15 {
	margin-bottom: 15px !important;
}

/*Padding*/

.padding-left10 {
	padding-left: 5px;
}

.pddb80 {
	padding-bottom: 80px;
}
.input-padding {
	padding: 6px 12px !important;
}
.button-style {
	box-shadow: none !important;
	padding: 5px !important;
}
/*media*/

@media only screen and (max-width: 543px){
	.navigation li {
		font-size: 8pt;
		padding: 0;
		margin-bottom: 20px;
		margin-top: 80px;
	}

	.title {
		color: #FFFFFF;
		font-family: "Times New Roman", Times, serif;
		background-image: url(/resources/main/images/qr-icon.png);
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		padding: 125px 23px 50px 47px;


}
	@media only screen and (max-width: 360px) {
		.navigation li {
			font-size: 5pt;
			padding: 0;

		}
	}
}

